In [1]:
# Bibliotecas utilizadas no projeto
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from pandas import DataFrame
import category_encoders as ce
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df: DataFrame = pd.read_csv('./data/out_novo_dataset.csv', index_col=0)

In [3]:
df = df.drop(
    columns=[
         "Curso+Modalidade",
        "Modalidade de Ensino",

        "Município do Campus",
        "Campus",
        "Período Letivo",

        "Município, UF",
        "Nivel de Ensino - sem hierar",
        "É ingressante?",
        "É ingressante? (rótulo)",
        "Unnamed: 0",
    ]
)

In [4]:
df['Reserva vaga']

0                              Não possui
1                      Ampla Concorrência
2                              Não possui
3                      Ampla Concorrência
4       L2 Esc Publica, Renda<1.5sm, Raca
                      ...
3905                   Ampla Concorrência
3906                           Não possui
3907                                  NaN
3908         L5 Esc Publica, Indep. Renda
3909                           Não possui
Name: Reserva vaga, Length: 10452, dtype: object

In [5]:
nan_counts = df.isna().sum()
nan_counts

Reserva vaga                                1972
Num Seq deste Período Letivo                   0
Periodos Cursados                              0
Data Última Alteração Matrícula                0
Nível de Ensino                                0
Previsão de Término (Letivo)                   0
Tipo_Escola_Origem                          1083
Fluxo Escolar - Label                          0
Dt Ref Início Matrícula                        0
Idade (Hoje)                                   0
Matrícula retida?                              0
Cód. da Matriz                                 0
Etnia                                          0
Periodo Letivo (Num)                           0
Última Alteração de Situação                   0
CH. Disc. Obrigatórias                         0
Dt Ref Início Período Letivo                   0
Forma de Oferta (grupo)                        0
Ingressantes em  (Ano Letivo)                  0
Modalidade do Curso                            0
Estado Aluno                                 205
Cód. do Curso                                  0
Data Início Período                           15
Forma de Ingresso                              0
Faixa Etária                                   0
Sexo                                           0
Data Final Período                            14
Ingressantes em (Período Letivo)               0
Duracao curso                                  0
CH. Disc. Optativas                            0
Período Letivo da Mudança de Situação       5247
Tipo de Modalidade                           996
Tipo de Modalidade (grupo)                   996
Estrutura Etária                               0
CH                                             0
Campus (Nome)                                  0
É matrícula retida neste período letivo?       0
Cidade Aluno                                 205
dtype: int64

In [6]:
nan_counts_per_row = df.isna().sum(axis=1)
nan_counts_per_row.describe()

count    10452.000000
mean         1.026885
std          0.948560
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          6.000000
dtype: float64

In [7]:
# O critério foi abaixo de 1200 NaN, não vou mexer
df = df.drop(
    columns=[
        # "Reserva vaga",
        "Período Letivo da Mudança de Situação"                           
    ]
)

In [8]:
df.count()

Reserva vaga                                 8480
Num Seq deste Período Letivo                10452
Periodos Cursados                           10452
Data Última Alteração Matrícula             10452
Nível de Ensino                             10452
Previsão de Término (Letivo)                10452
Tipo_Escola_Origem                           9369
Fluxo Escolar - Label                       10452
Dt Ref Início Matrícula                     10452
Idade (Hoje)                                10452
Matrícula retida?                           10452
Cód. da Matriz                              10452
Etnia                                       10452
Periodo Letivo (Num)                        10452
Última Alteração de Situação                10452
CH. Disc. Obrigatórias                      10452
Dt Ref Início Período Letivo                10452
Forma de Oferta (grupo)                     10452
Ingressantes em  (Ano Letivo)               10452
Modalidade do Curso                         10452
Estado Aluno                                10247
Cód. do Curso                               10452
Data Início Período                         10437
Forma de Ingresso                           10452
Faixa Etária                                10452
Sexo                                        10452
Data Final Período                          10438
Ingressantes em (Período Letivo)            10452
Duracao curso                               10452
CH. Disc. Optativas                         10452
Tipo de Modalidade                           9456
Tipo de Modalidade (grupo)                   9456
Estrutura Etária                            10452
CH                                          10452
Campus (Nome)                               10452
É matrícula retida neste período letivo?    10452
Cidade Aluno                                10247
dtype: int64

In [9]:
df = df.dropna()
df.count()

Reserva vaga                                6749
Num Seq deste Período Letivo                6749
Periodos Cursados                           6749
Data Última Alteração Matrícula             6749
Nível de Ensino                             6749
Previsão de Término (Letivo)                6749
Tipo_Escola_Origem                          6749
Fluxo Escolar - Label                       6749
Dt Ref Início Matrícula                     6749
Idade (Hoje)                                6749
Matrícula retida?                           6749
Cód. da Matriz                              6749
Etnia                                       6749
Periodo Letivo (Num)                        6749
Última Alteração de Situação                6749
CH. Disc. Obrigatórias                      6749
Dt Ref Início Período Letivo                6749
Forma de Oferta (grupo)                     6749
Ingressantes em  (Ano Letivo)               6749
Modalidade do Curso                         6749
Estado Aluno                                6749
Cód. do Curso                               6749
Data Início Período                         6749
Forma de Ingresso                           6749
Faixa Etária                                6749
Sexo                                        6749
Data Final Período                          6749
Ingressantes em (Período Letivo)            6749
Duracao curso                               6749
CH. Disc. Optativas                         6749
Tipo de Modalidade                          6749
Tipo de Modalidade (grupo)                  6749
Estrutura Etária                            6749
CH                                          6749
Campus (Nome)                               6749
É matrícula retida neste período letivo?    6749
Cidade Aluno                                6749
dtype: int64

In [10]:
graduated = df.loc[df["Fluxo Escolar - Label"] == "Formados"]
dropout = df.loc[df["Fluxo Escolar - Label"] == "Evadidos"]

In [11]:
df = pd.concat([graduated, dropout])
df.count()

Reserva vaga                                3762
Num Seq deste Período Letivo                3762
Periodos Cursados                           3762
Data Última Alteração Matrícula             3762
Nível de Ensino                             3762
Previsão de Término (Letivo)                3762
Tipo_Escola_Origem                          3762
Fluxo Escolar - Label                       3762
Dt Ref Início Matrícula                     3762
Idade (Hoje)                                3762
Matrícula retida?                           3762
Cód. da Matriz                              3762
Etnia                                       3762
Periodo Letivo (Num)                        3762
Última Alteração de Situação                3762
CH. Disc. Obrigatórias                      3762
Dt Ref Início Período Letivo                3762
Forma de Oferta (grupo)                     3762
Ingressantes em  (Ano Letivo)               3762
Modalidade do Curso                         3762
Estado Aluno                                3762
Cód. do Curso                               3762
Data Início Período                         3762
Forma de Ingresso                           3762
Faixa Etária                                3762
Sexo                                        3762
Data Final Período                          3762
Ingressantes em (Período Letivo)            3762
Duracao curso                               3762
CH. Disc. Optativas                         3762
Tipo de Modalidade                          3762
Tipo de Modalidade (grupo)                  3762
Estrutura Etária                            3762
CH                                          3762
Campus (Nome)                               3762
É matrícula retida neste período letivo?    3762
Cidade Aluno                                3762
dtype: int64

In [12]:
df.to_csv("output/refatorado_dataset.csv")