In [1]:
import category_encoders as ce
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:

df = pd.DataFrame({
    'animal': ['cachorro', 'elefante', 'galinha', 'leao', 'ser humano', 'cachorro', 'gato', 'ser humano', 'elefante', 'pardal', 'macaco', 'cachorro'],
    'locomocao' : ['quadrupede', 'quadrupede','bipede',  'quadrupede', 'bipede',  'quadrupede',  'quadrupede', 'bipede', 'quadrupede', 'bipede', 'bipede', 'quadrupede'],
    'target': [0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0]
})

In [8]:
df

        animal   locomocao  target
0     cachorro  quadrupede       0
1     elefante  quadrupede       0
2      galinha      bipede       1
3         leao  quadrupede       0
4   ser humano      bipede       0
5     cachorro  quadrupede       0
6         gato  quadrupede       0
7   ser humano      bipede       0
8     elefante  quadrupede       0
9       pardal      bipede       1
10      macaco      bipede       0
11    cachorro  quadrupede       0

### One Hot Encoding

In [3]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('target', axis=1), df['target'], test_size=0.2, random_state=42)

In [4]:
X_train

        animal   locomocao
8     elefante  quadrupede
5     cachorro  quadrupede
2      galinha      bipede
1     elefante  quadrupede
11    cachorro  quadrupede
4   ser humano      bipede
7   ser humano      bipede
3         leao  quadrupede
6         gato  quadrupede

In [6]:
X_test

      animal   locomocao
10    macaco      bipede
9     pardal      bipede
0   cachorro  quadrupede

In [5]:
y_train

8     0
5     0
2     1
1     0
11    0
4     0
7     0
3     0
6     0
Name: target, dtype: int64

In [7]:
y_test

10    0
9     1
0     0
Name: target, dtype: int64

In [6]:
encoder = OneHotEncoder(cols=['animal', 'locomocao'])

In [7]:
# Treino
encoder.fit(X_train)
X_train_encoded = encoder.transform(X_train)

# Teste
X_test_encoded = encoder.transform(X_test)

### Label Encoding

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('target', axis=1), df['target'], test_size=0.2, random_state=42)

In [6]:
encoder = OrdinalEncoder(cols=['animal', 'locomocao'])

In [7]:
# Treino
encoder.fit(X_train)
X_train_encoded = encoder.transform(X_train)

# Teste
X_test_encoded = encoder.transform(X_test)

### Binary Encoding

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('target', axis=1), df['target'], test_size=0.2, random_state=42)

In [6]:
encoder = BinaryEncoder(cols=['animal', 'locomocao'])

In [7]:
# Treino
encoder.fit(X_train)
X_train_encoded = encoder.transform(X_train)

# Teste
X_test_encoded = encoder.transform(X_test)

### Helmert Encoding

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('target', axis=1), df['target'], test_size=0.2, random_state=42)

In [6]:
encoder = HelmertEncoder(cols=['animal', 'locomocao'])

In [7]:
# Treino
encoder.fit(X_train)
X_train_encoded = encoder.transform(X_train)

# Teste
X_test_encoded = encoder.transform(X_test)

### Hashing Encoding

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('target', axis=1), df['target'], test_size=0.2, random_state=42)

In [12]:
encoder = ce.HashingEncoder(cols=['animal', 'locomocao'])

In [13]:
# Treino
encoder.fit(X_train)
X_train_encoded = encoder.transform(X_train)

# Teste
X_test_encoded = encoder.transform(X_test)

In [14]:
X_train_encoded

    col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
8       1      0      0      0      1      0      0      0
5       0      0      1      0      1      0      0      0
2       1      0      0      0      0      1      0      0
1       1      0      0      0      1      0      0      0
11      0      0      1      0      1      0      0      0
4       2      0      0      0      0      0      0      0
7       2      0      0      0      0      0      0      0
3       1      0      0      0      1      0      0      0
6       0      0      0      1      1      0      0      0