In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel("./data/original_dados_aracau.ods", engine="odf")

In [11]:
formated_df = df.drop(columns=[''])

,Unnamed: 0,Fluxo Escolar - Label,Campus (Nome),Curso+Modalidade,Matrícula retida?,Ingressantes em (Período Letivo),Modalidade de Ensino,Modalidade do Curso,Nível de Ensino,Período Letivo,...,É ingressante? (rótulo),É matrícula retida neste período letivo?,Última Alteração de Situação,CH,CH. Disc. Obrigatórias,CH. Disc. Optativas,Duracao curso,Idade (Hoje),Periodos Cursados,Período Letivo da Mudança de Situação
0,0,Em Curso,Acaraú,LÍNGUA INGLESA,Dentro do prazo,20192,Presencial,Fic,Básico,2019/2,...,Ingressante,Não Retida,2019-11-07,160,160,0,2,35,1,2019/2
1,2,Evadidos,Acaraú,TÉCNICO EM AQUICULTURA (Subsequente),Dentro do prazo,20151,Presencial,Subsequente,Técnico,2015/2,...,Veterano,Não Retida,2016-02-26,1240,1240,0,4,28,2,2015/2
2,3,Formados,Acaraú,XADREZ BÁSICO,Dentro do prazo,20172,Presencial,Fic,Básico,2017/2,...,Ingressante,Não Retida,2018-05-16,60,60,0,1,22,1,2017/2
3,5,Formados,Acaraú,TÉCNICO EM EVENTOS (Subsequente),Fora do prazo,20172,Presencial,Subsequente,Técnico,2017/2,...,Ingressante,Não Retida,2018-11-09,800,800,0,2,23,2,NaN
4,7,Evadidos,Acaraú,LICENCIATURA EM CIÊNCIAS BIOLÓGICAS,Dentro do prazo,20152,Presencial,Licenciatura,Graduação,2016/1,...,Veterano,Não Retida,2016-12-01,2940,2860,80,8,23,2,NaN

In [12]:
df.describe()

,Unnamed: 0,Ingressantes em (Período Letivo),Cód. da Matriz,Cód. do Curso,Data Final Período,Data Início Período,Data Última Alteração Matrícula,Dt Ref Início Matrícula,Dt Ref Início Período Letivo,Ingressantes em (Ano Letivo),Num Seq deste Período Letivo,Periodo Letivo (Num),Última Alteração de Situação,CH,CH. Disc. Obrigatórias,CH. Disc. Optativas,Duracao curso,Idade (Hoje),Periodos Cursados
count,3320.000000,3320.000000,3320.000000,3320.000000,3317,3316,3320,3320,3320,3320.000000,3320.000000,3320.000000,3320,3320.000000,3320.000000,3320.000000,3320.000000,3320.000000,3320.000000
mean,4233.948795,20172.623795,6929.057831,47271.430723,2018-09-28 04:44:21.199879424,2018-04-02 02:04:37.925210880,2018-07-16 19:03:24.216867328,2017-02-15 09:33:49.879517952,2017-07-22 14:08:23.132529920,2017.118072,1.856024,20177.041867,2018-07-16 13:02:53.493975808,1150.453916,1147.200904,3.253012,3.622892,23.465964,2.584940
min,0.000000,20151.000000,4017.000000,11200.000000,2015-05-12 00:00:00,2015-05-12 00:00:00,2015-05-28 00:00:00,2015-01-01 00:00:00,2015-01-01 00:00:00,2015.000000,1.000000,20151.000000,2015-05-28 00:00:00,40.000000,40.000000,0.000000,1.000000,-7979.000000,1.000000
25%,2183.750000,20161.000000,5158.000000,11203.000000,2017-11-16 00:00:00,2017-05-15 00:00:00,2017-10-06 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2016.000000,1.000000,20171.000000,2017-10-06 00:00:00,160.000000,160.000000,0.000000,2.000000,22.000000,1.000000
50%,4260.500000,20172.000000,7083.000000,11400.000000,2018-11-26 00:00:00,2018-06-04 00:00:00,2018-11-19 00:00:00,2017-01-07 00:00:00,2018-01-01 00:00:00,2017.000000,1.000000,20181.000000,2018-11-19 00:00:00,800.000000,800.000000,0.000000,2.000000,24.000000,2.000000
75%,6275.500000,20182.000000,7279.000000,111021.000000,2019-11-04 00:00:00,2019-05-22 00:00:00,2019-06-14 13:04:00,2018-01-07 00:00:00,2019-01-01 00:00:00,2018.000000,1.000000,20191.000000,2019-06-14 00:00:00,1480.000000,1480.000000,0.000000,4.000000,28.000000,3.000000
max,8445.000000,20192.000000,13017.000000,111035.000000,2020-04-27 00:00:00,2019-11-05 00:00:00,2020-02-20 00:00:00,2019-01-07 00:00:00,2019-01-07 00:00:00,2019.000000,9.000000,20192.000000,2020-02-20 00:00:00,3440.000000,3260.000000,240.000000,8.000000,75.000000,11.000000
std,2411.919286,14.028735,2155.802694,47909.340444,NaN,NaN,NaN,NaN,NaN,1.402631,1.877475,13.278204,NaN,1085.039168,1078.733502,26.034877,2.493249,139.093627,2.054401

In [59]:
df[['Período Letivo', 'Periodo Letivo (Num)']].value_counts()

Período Letivo  Periodo Letivo (Num)
2019/2          20192                   736
2018/2          20182                   471
2018/1          20181                   430
2017/1          20171                   389
2017/2          20172                   300
2019/1          20191                   271
2015/2          20152                   244
2016/2          20162                   178
2016/1          20161                   166
2015/1          20151                   135
Name: count, dtype: int64

In [63]:
df[['É ingressante?', 'Fluxo Escolar - Label', 'Forma de Oferta (grupo)']].value_counts()

É ingressante?  Fluxo Escolar - Label  Forma de Oferta (grupo)
Sim             Formados               Fic                        419
                Evadidos               Subsequente                407
Não             Evadidos               Subsequente                355
Sim             Evadidos               Fic                        335
                Em Curso               Licenciatura               238
                                       Fic                        186
                                       Subsequente                169
                Evadidos               Licenciatura               137
Não             Evadidos               Licenciatura               129
                Formados               Subsequente                126
                Em Curso               Licenciatura               120
Sim             Formados               Subsequente                 97
Não             Em Curso               Subsequente                 96
                Formados               Fic                         88
                Evadidos               Fic                         77
Sim             Retidos                Subsequente                 72
Não             Retidos                Licenciatura                69
                                       Fic                         51
                                       Subsequente                 45
                Em Curso               Fic                         36
                Formados               Licenciatura                16
Sim             Formados               Especialização              14
Não             Evadidos               Especialização              11
Sim             Em Curso               Especialização               8
                Retidos                Fic                          6
Não             Retidos                Especialização               5
                Formados               Especialização               5
Sim             Retidos                Licenciatura                 2
                Evadidos               Especialização               1
Name: count, dtype: int64

In [70]:
df[['É matrícula retida neste período letivo?', 'Última Alteração de Situação', 'Ingressantes em (Período Letivo)', 'Período Letivo da Mudança de Situação']].value_counts()

É matrícula retida neste período letivo?  Última Alteração de Situação  Ingressantes em (Período Letivo)  Período Letivo da Mudança de Situação
Não Retida                                2016-05-27                    20152                             2015/2                                   87
                                          2015-09-11                    20151                             2015/1                                   67
                                          2018-11-19                    20181                             2018/1                                   56
                                          2018-05-16                    20172                             2017/2                                   50
                                          2019-12-04                    20191                             2019/2                                   46
                                                                                                                                                   ..
                                          2015-06-17                    20151                             2015/1                                    1
                                          2015-05-28                    20151                             2015/1                                    1
Retida                                    2019-12-04                    20182                             2019/2                                    1
                                          2020-02-13                    20161                             2019/2                                    1
                                          2020-02-14                    20152                             2019/2                                    1
Name: count, Length: 298, dtype: int64